/* An easy way to implement BEM is using the function name as the Block then what you were using for the class as the element,
and then the modifier is anything that modifies the element (e.g disabled)

<label className="Main__label-title Main__label-title--row">Drama</label> */

.main {
  margin: auto;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* Generic flex rows and columns */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
/* ------------------------------- */
.label--title {
  color: #e5e5e5;
  line-height: 1.25rem;
  font-size: 1.4rem;
}
.movie--icon {
  margin: 1rem;
  max-height: 130px;
  width: 230px;
  padding: 3px;
}
