.Navbar {
  display: flex;
  position: sticky;
  top: 0;
  background-color: black;
  box-sizing: border-box;
  padding-left: 1.1rem;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
}
.Navbar__group {
  display: flex;
  height: 100%;
  list-style-type: none;
  justify-content: space-evenly;
  gap: 1rem;
}
.Navbar__group--right {
  margin-left: auto;
  margin-right: 3rem;
}
.Navbar__item {
  position: relative;
  top: 1rem;
}
.Navbar__netflixlogo {
  margin-right: 20px;
  height: 3rem;
  width: 5rem;
}
.Navbar__item--pad {
  padding-top: 0.5rem;
}
